@font-face {
    font-family: 'Roboto';
    src: url('../Assests/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../Assests/fonts/Roboto-Regular.woff') format('woff'),
        url('../Assests/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Assests/fonts/Inter-Medium.woff2') format('woff2'),
        url('../Assests/fonts/Inter-Medium.woff') format('woff'),
        url('../Assests/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Assests/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../Assests/fonts/Roboto-Medium.woff') format('woff'),
        url('../Assests/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Assests/fonts/Inter-Regular.woff2') format('woff2'),
        url('../Assests/fonts/Inter-Regular.woff') format('woff'),
        url('../Assests/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Assests/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../Assests/fonts/Inter-SemiBold.woff') format('woff'),
        url('../Assests/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Assests/fonts/Inter-Bold.woff2') format('woff2'),
        url('../Assests/fonts/Inter-Bold.woff') format('woff'),
        url('../Assests/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

