.login {
  height: 100vh;
  background-color: rgb(231, 247, 247);
  background-image: url("../Assests/img/loginBg.png");
  background-image: image-set(
    url(../Assests/img/loginBg.png) 1x,
    url(../Assests/img/login-bg@2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: cover;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 40px;
  margin-bottom: 1.5rem;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.login__form {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 48px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 4px;
}

.login__form-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: $color-primary;
}

.login__form-txt {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  color: $color-primary;
  transition: color 0.4s ease;
}

.login__form-link {
  margin-left: 6px;
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: #3b90c0;
  }
}

.login__label {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 32px;
}
.login__message {
  bottom: -22px;
  left: 0;
  margin-top: 6px;
  padding-left: 17px;
  font-size: 12px;
  line-height: 16px;
  color: #da1515;
    background-image: url("../Assests/img/icon-warning-transparent.svg");
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
}

.login__input-name {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color-primary;
}

.login__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  background-color: $color-white;
  border: 1px solid $color-input-border;
  border-radius: 4px;

}

input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: $color-danger;
}

input:invalid:not(:focus):not(:placeholder-shown) ~ .login__input-name {
  color: $color-danger;
}

.login__submit-btn {
  width: 100%;
}
