.main {
  flex-grow: 1;
}

.main__container {
  margin: 0 auto;
  padding-top: 24px;
  max-width: 376px;
  padding-bottom: 20px !important;
}

.about__left {
  width: 5.5%;
}

.about__main {
  width: 94.5%;
}

.about__main_ {
  height: 100% !important;
}

.about__main_top {
  border-bottom: 1px solid #000000;
  height: 10%;
}

.search,
.brands,
.about__brand_bottom {
  border: 1px solid #000000;
}

.brands {
  width: 32%;
  height: 170px;
}

.input:checked + .money-withdraw {
  color: #2724ba;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root,
.css-q5cu77 {
  width: 120px !important;
  max-width: 120px !important;
  border: 0.752778px solid #d9d9d9 !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #ffffff !important;
  border-radius: 6.02222px !important;
  transition: 0.2s;
}
.Mui-selected {
  color: #2724ba !important;
  background: linear-gradient(
      0deg,
      rgba(60, 0, 187, 0.2),
      rgba(60, 0, 187, 0.2)
    ),
    #ffffff !important;
  border: 0.752778px solid #3c00bb !important;
  transition: 0.2s;
}

.css-1gjgmky-MuiToggleButtonGroup-root {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
